<%= turbo_stream.append "messages_list" do %>
  <% last_messages = @chat.messages.order(:created_at).last(2) %>
  <% last_messages.each do |msg| %>
    <p class="mb-2">
      <strong><%= msg.role.capitalize %>:</strong>
      <%= msg.message %>
    </p>
  <% end %>
<% end %>

<%= turbo_stream.update "new_message_form" do %>
  <%= form_with url: chat_messages_path(@chat), method: :post, local: false, data: { turbo: true }, id: "new_message_form" do %>
    <div class="input-group">
      <%= text_field_tag :message, nil, class: "form-control", placeholder: "Ask the AI...", autocomplete: "off" %>
      <button class="" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
    </div>
  <% end %>
<% end %>
