<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="container container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="icon h-100 text-decoration-none d-flex align-items-center" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Games", "../games", class: "dropdown-item" %>
              <%= link_to "Chats", "../chats", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
          <% if controller_name == "registrations" %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% elsif controller_name == "pages" %>
            <div class="d-flex">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </div>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
