<%= turbo_stream_from @chat %>

<div class="container container-box py-3">
  <div id="chat_title">
    <h1 class="text-white text-center"><%= @chat.title %></h1>
  </div>

  <div id="messages" class="mb-4">
    <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <div class="container chat-input-area fixed-bottom pb-3 px-3">
      <%= simple_form_for [@chat, @message] do |f| %>
        <div class="position-relative">
          <%= f.input :content, as: :string, label: false, placeholder: "Type here...",
                wrapper: false,
                input_html: { class: "input-chat form-control rounded-pill p-3 pe-5" } %>
          <button type="submit" 
                  class=" bg-secondary rounded-pill btn-send">
            <i class="fa-solid text-white fa-paper-plane"></i>
          </button>
        </div>
      <% end %>
  </div>
</div>
