<%= link_to "â† Back", games_path %> / <%= @chat.game.name %>

<div id="chat_title">
  <h1><%= @chat.title %></h1>
</div>

<% if Rails.env.test? %>
  <span class="float-end">
    Input tokens: <%= @input_tokens %> / Output tokens: <%= @output_tokens %> / Context window: <%= @context_window %>
  </span>
<% end %>

<div id="messages" class="mb-4">
  <% @chat.messages.each do |message| %>
    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-2">
        <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>
    <% elsif message.role == "assistant" %>
      <div class="d-flex justify-content-start mb-5">
        <div class="px-3 pb-0 pt-3 bg-light rounded-pill">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="new_message">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Enviar", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
